/* Featured Items */

.section-container{
    display: flex;
    flex-direction: column;
    width: 65%;
    justify-self: center;
    margin: auto;
}

#section-title{
    margin-top: 30px;
    border-left: solid 4px #AC905E;
    padding-left: 10px;
    font-weight: 300;
}

.section-featured-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    gap: 8px;
    margin-top: 20px;
    width: 100%;
    
}

.section-featured-item{
    width: 400px;
    border-radius: 0px !important;
    box-shadow: rgba(0, 0, 0, 0.08) 0px -1px 8px !important;
    margin: 10px 0 10px 0;
}

.section-featured-item img{
    width: 100%;
    border-bottom: solid 5px #AC905E;
}


#section-featured-name{
    margin: 3px 0px 0px 15px;
}
.section-featured-square-box{
    margin: 8px 0px 0px 15px;
    background-color: rgba(192, 159, 102, 0.5);
    width: 100px;
    text-align: center;
    color: white;
}
.section-featured-square-box h6{
    font-size: 18px;
}
#section-featured-price{
    margin: 3px 0px 0px 15px;
    font-weight: 300;
}
.section-featured-button{
    border-radius: 0px !important;
    font-weight: 300 !important;
    margin: 3px 0px 10px 15px !important;
    box-shadow: 2px 2px 4px rgba(192, 159, 102, 0.4) !important;
    width: fit-content;
}
@media (max-width: 1870px) {
    .section-featured-item{
        width: 350px !important;
    }
}

@media (max-width: 1640px) {
    .section-featured-item{
        width: 300px !important;
    }
}

@media (max-width: 1425px) {
    .section-featured-item{
        width: 260px !important;
    }
}

@media (max-width: 1230px) {

    .section-featured-item{
        width: 320px !important;
    }
}

@media (max-width: 1155px) {
    .section-container{
        width: 95% !important;
    }
    .section-featured-container{
        justify-content:space-around !important;
    }
    #section-featured-item-3{
        display: block !important;
    }
}
@media (max-width: 1025px) {
    .section-featured-item{
        width: 280px !important;
    }
}
@media (max-width: 901px) {
    .section-featured-item{
        width: 230px !important;
    }
    #section-featured-name{
        font-size: 18px !important;
    }
    .section-featured-square-box{
        width: 80px !important;
    }
    .section-featured-square-box h6{
        font-size: 14px !important;
    }
    .section-featured-button{
        width: 155px !important;
        font-size: 9px !important;
    }
}
@media (max-width: 500px) {
    .section-featured-container{
        gap: 25px !important;
    }
    .section-featured-item{
        width: 80% !important;
    }
    #section-featured-name{
        font-size: 24px !important;
    }
    .section-featured-square-box{
        width: 100px !important;
    }
    .section-featured-square-box h6{
        font-size: 17px !important;
    }
    .section-featured-button{
        width: 190px !important;
        height: 40px !important;
        font-size: 12px !important;
    }
}

/* Decore section */

.section-decore-container {
    margin: 120px 0 70px;
}
.section-decore{
    display: flex;
    height: 370px;
    background-color: rgba(192, 159, 102, 0.5);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 8px;
}

.section-decore-left, .section-decore-right{
    width: 50%;
}
.section-decore-left{
    position: relative;
}
.section-decore-left img{
    position: absolute;
    width: 550px;
    translate: 30px -40px;
    pointer-events: none !important;
}

.section-decore-right{
    display: flex;
    flex-direction: column;
    align-self: center;
}

#section-decore-right-text{
    margin: 0px 15px 0 0px;
    color: white;
    font-size: 26px;
    text-shadow: rgb(154, 154, 154) 1px 0 5px;
}

#section-decore-right-inin{
    color: white;
    font-weight: 300;
    margin: 20px 0 0 0;
}

.section-decore-right-button{
    margin: 30px 0 0 0 !important;
    width: 180px;
    font-weight: 300 !important;
    border-radius: 0px !important;
    height: 50px !important;
    box-shadow: 0px 0px 10px rgba(192, 159, 102, 0.8) !important;
}

@media (max-width:1850px) {
    .section-decore-left img{
        width: 500px !important;
        translate: 40px -40px !important;
    }
    .section-decore{
        height: 370px !important;
    }
}

@media (max-width:1690px) {
    .section-decore-left img{
        width: 430px !important;
        translate: 40px -30px !important;
    }
    .section-decore{
        height: 300px !important;
    }
    #section-decore-right-text{
        font-size: 22px !important;
    }
    #section-decore-right-inin{
        font-size: 14px !important;
        margin-top: 10px !important;
    }
    .section-decore-right-button{
        height: 40px !important;
        font-size: 13px !important;
        margin-top: 10px !important;
    }
}
@media (max-width:1500px) {
    .section-decore-left img{
        width: 400px !important;
        translate: 40px -30px !important;
    }
    .section-decore{
        height: 270px !important;
    }
    #section-decore-right-text{
        font-size: 20px !important;
    }
}

@media (max-width:1370px) {
    .section-decore-left img{
        width: 340px !important;
        translate: 40px -20px !important;
    }
    .section-decore{
        height: 240px !important;
    }
    #section-decore-right-text{
        font-size: 19px !important;
    }
    #section-decore-right-inin{
        font-size: 16px;
        margin-top: 10px ;
    }
    .section-decore-right-button{
        margin-top: 10px !important;
    }
}

@media (max-width: 1220px) {

    .section-decore{
        margin-top: -50px !important;
        flex-direction: column !important;
        height: 300px !important;
        background-color: transparent !important;
        box-shadow: none !important;
    }
    .section-decore-left{
        align-self: center;
        z-index: -1;
        /* background-color: rgba(192, 159, 102, 0.4) !important; */
    }
    .section-decore-left img{
        width: 450px !important;
        translate: -40px -40px !important;
    }
    .section-decore-right{
        background-color: #dfcfb2e9;
        padding: 30px 5px 30px 30px;
        width: 90% !important;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 8px;
    }
}

@media (max-width:650px) {
    .section-decore-left img{
        translate: -90px -30px !important;
    }
}

@media (max-width:450px) {
    .section-decore-container{
        margin-bottom: 100px !important;
    }
}

@media (max-width:400px) {
    .section-decore-left img{
        translate: -100px -20px !important;
    }
    .section-decore-container{
        margin-bottom: 150px !important;
    }
}

/* Join clients' zone section */

/* https://i.ibb.co/71CVvjP/join-clientzone-img.png */
/* https://i.ibb.co/pwrmmpx/join-clientzone-img-pc.png */

.section-join-container{
    display: flex;
    margin: 50px 0px 50px 0px;
    height: 620px;
    background-image: url('https://i.ibb.co/N6jL0Cx/join-clientzone-img.png');
    background-position: center bottom;
    background-repeat: no-repeat; 
    background-size: cover; 
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 8px;
}

.section-join-content{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 10%;
    align-self: center;
    color: white;
}

.section-join-button{
    margin: 30px 0 0 0 !important;
    max-width: 240px;
    font-size: 12px !important;
    font-weight: 300 !important;
    border-radius: 0px !important;
    height: 50px !important;
    box-shadow: 0px 0px 10px rgba(192, 159, 102, 0.8) !important;
}

@media (max-width: 1220px) {
    .section-join-container{
        height: 500px !important;
        margin-top: -20px !important;
    }
}

@media (max-width: 600px) {
    .section-join-content{
        width: 90% !important;
        margin: auto !important;
        align-self: center;
    }
}
@media (max-width: 360px) {
    .section-join-container{
        margin-top: 50px !important;
    }
}

/* Icons info section */
.section-icons-container{
    margin-bottom: 30px;
}

.section-icons-item{
    display: flex;
    flex-direction: column;
    border-radius: 0px !important;
    padding: 10px 10px 10px 10px;
    height: 100%;
    min-height: 240px;
}
.section-icons-item h5{
    color: black ;
}
#section-icons-text{
    margin: 7px 0px 0px 38px;
    color: #4f4f4f;
}
#section-icons-link{
    color: #AC905E;
    margin: auto auto 0px 38px;
    justify-self: bottom;
}
#section-icons-link:hover{
    color: #ac905ea2;
    transition: 0.2s ease-in;
    font-size: 17px !important;
}


/*  */

.featured-swiper{
    margin-top: 28px;
    width: 100%;
    height: auto;
}

.swiper-slides{
    display: flex !important;
    height: 100%;
    flex-direction: column;
    margin: 10px 0px 20px 5px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px -1px 8px !important;
}
.swiper-slides img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.swiper-pagination{
    bottom: var(--swiper-pagination-bottom, -5px) !important;
}


