/* Featured Items */

.section-container{
    display: flex;
    flex-direction: column;
    width: 78%;
    justify-self: center;
    margin: auto;
}

#section-title{
    margin-top: 30px;
    border-left: solid 4px #AC905E;
    padding-left: 10px;
    font-weight: 300;
}

.section-featured-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    gap: 15px;
    margin-top: 20px;
    width: 100%;
}
.section-featured-item{
    width: 440px;
    border-radius: 0px !important;
}

.section-featured-item img{
    width: 100%;
    border-bottom: solid 5px #AC905E;
}

#section-featured-name{
    margin: 3px 0px 0px 15px;
}
.section-featured-square-box{
    margin: 8px 0px 0px 15px;
    background-color: rgba(192, 159, 102, 0.5);
    width: 100px;
    text-align: center;
    color: white;
}
#section-featured-price{
    margin: 3px 0px 0px 15px;
    font-weight: 300;
}
.section-featured-button{
    border-radius: 0px !important;
    font-weight: 300 !important;
    margin: 3px 0px 10px 15px !important;
    box-shadow: 2px 2px 4px rgba(192, 159, 102, 0.4) !important;
}
@media (max-width: 1770px) {
    .section-featured-item{
        width: 400px !important;
    }
}

@media (max-width: 1580px) {
    .section-featured-item{
        width: 360px !important;
    }
}

@media (max-width: 1425px) {
    .section-featured-item{
        width: 320px !important;
    }
}

@media (max-width: 1270px) {
    .section-featured-item{
        width: 290px !important;
    }
}

@media (max-width: 1155px) {
    .section-container{
        width: 95% !important;
    }
    .section-featured-container{
        justify-content:space-around !important;
    }
}

/* Decore section */

.section-decore-container {
    margin: 120px 0 70px;
}
.section-decore{
    display: flex;
    height: 380px;
    background-color: rgba(192, 159, 102, 0.5);
}

.section-decore-left, .section-decore-right{
    width: 50%;
}
.section-decore-left{
    position: relative;
}
.section-decore-left img{
    position: absolute;
    width: 640px;
    translate: 40px -50px;
    pointer-events: none !important;
}

.section-decore-right{
    display: flex;
    flex-direction: column;
    align-self: center;
}

#section-decore-right-text{
    margin: 0px 15px 0 0px;
    color: white;
    font-size: 30px;
}

#section-decore-right-inin{
    color: white;
    font-weight: 300;
    margin: 20px 0 0 0;
}

.section-decore-right-button{
    margin: 30px 0 0 0 !important;
    width: 180px;
    font-weight: 300 !important;
    border-radius: 0px !important;
    height: 50px !important;
    box-shadow: 0px 0px 10px rgba(192, 159, 102, 0.8) !important;
}

@media (max-width:1850px) {
    .section-decore-left img{
        width: 580px !important;
        translate: 40px -40px !important;
    }
    .section-decore{
        height: 350px !important;
    }
}

@media (max-width:1650px) {
    .section-decore-left img{
        width: 480px !important;
        translate: 40px -30px !important;
    }
    .section-decore{
        height: 300px !important;
    }
    #section-decore-right-text{
        font-size: 24px !important;
    }
}

@media (max-width:1370px) {
    .section-decore-left img{
        width: 380px !important;
        translate: 40px -20px !important;
    }
    .section-decore{
        height: 240px !important;
    }
    #section-decore-right-text{
        font-size: 20px !important;
    }
    #section-decore-right-inin{
        font-size: 16px;
        margin-top: 10px ;
    }
    .section-decore-right-button{
        margin-top: 10px !important;
    }
}

@media (max-width: 920px) {

    .section-decore{
        margin-top: -50px !important;
        flex-direction: column !important;
        height: 300px !important;
        background-color: transparent !important;

    }
    .section-decore-left{
        align-self: center;
        z-index: -1;
        /* background-color: rgba(192, 159, 102, 0.4) !important; */
    }
    .section-decore-left img{
        width: 450px !important;
        translate: -40px -30px !important;
    }
    .section-decore-right{
        background-color: #dfcfb2e9;
        padding: 30px 5px 30px 30px;
        width: 90% !important;
    }
}

@media (max-width:650px) {
    .section-decore-left img{
        translate: -90px -30px !important;
    }
}

@media (max-width:400px) {
    .section-decore-left img{
        translate: -100px -20px !important;
    }
}
