@media (min-width: 1200px) {
    .navbar{
        padding: 0px 16% 0px 16%;
    }
}

@media (min-width: 900px) {
    .navbar-mobile-logo{
        display: none !important;
    }
}
@media (max-width: 900px) {
    .navbar-pc-logo{
        display: none !important;
    }
    #lng-selector{
        display: none !important;
    }
}



.navbar{
    background: rgba(0, 0, 0, 0.2) !important;
    /* Minimal browser support */
    backdrop-filter: blur(2px) !important; 
}

.navbar-pc-logo{
    width: 110px;
    margin: 10px 5px 10px 5px;
}

.navbar-mobile-logo{
    width: 100px;
    margin: 10px auto 10px auto;
}

.navbar-language-switch{
    height: 30px !important;
    color: white;
    background: rgba(217, 217, 217, 0.14);
    backdrop-filter: blur(2px);
}
#navbar-link{
    font-weight: 300 !important;
}
