.google-map{
    margin: 40px 0 40px 0 !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 8px;
}

.exports-icons-container{
    margin-top: 40px !important;
}

.exports-icons-content-sub{
    display: flex;
    align-items: center;
}

#exports-subtitle1{
    margin-left: 50px;
}