.google-map{
    margin: 40px 0 40px 0 !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 8px;
}

.exports-icons-container{
    margin-top: 20px !important;
}

.exports-icons-content-sub{
    display: flex;
    align-items: center;
}

#exports-subtitle1{
    margin-left: 50px;
}


.exports-icons-content:hover .exports-icons-icon{
    transition: ease 0.3s;
    transform: rotate(-10deg);
}
.exports-icons-content:not(:hover) .exports-icons-icon{
    transition: ease 0.3s;
    transform: rotate(0deg);
}
